*{
    margin: 0;
    padding: 0;
}
.background1{
    background-image: url('../images/photo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 140px;
}

.header1{
    margin-left: 70px;
    margin-right: 70px;
}

ul.textheader{
    list-style-type: none;
    margin-left:24%;
    
}

.textheader li{
    padding:20px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    font-family: 'Inconsolata', monospace, 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: white;
}


#name{
    margin-top: 70px;
    font-size: 70px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-family: 'Inconsolata', monospace, 'Open Sans Condensed', sans-serif;
}
#job{
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: 'Inconsolata', monospace, 'Open Sans Condensed', sans-serif;
    letter-spacing: 10px;
}

.profilePicture{
    width: 240px;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    border-width: 5px;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.description{
    font-family: 'Roboto Condensed', sans-serif;
    display: inline;
}

.description h2{
    max-width: 40%;
    text-align: left;
    margin-top: 240px;
    margin-left: 70px;
    font-size: 30px;
    margin-bottom: 10px;
}

.p1{
    float: left;
    max-width: 40%;
    margin-left: 40px;
    margin-bottom: 50px;
    font-size: 18px;
    letter-spacing: 1.0px;
   
}


.p2{
    max-width: 40%;
    float: right;
    text-align: left;
    margin-right: 40px;
    margin-bottom: 80px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    letter-spacing: 1.0px;
}

.icones{
    display: inline;
    margin-left: 190px;
}
